@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-openSans: var(--font-open-sans);
  --font-inter: var(--font-inter);

  --color-terminal: #7bba56;
  --color-hoverColor: #9556ba;
  --color-error: #ba567b;
}

@layer base {
  body {
    @apply bg-white dark:bg-black;
  }
}

::-webkit-scrollbar {
  display: none;
}
